@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Open Sans", "Outfit", "sans-serif";
}

html,
body {
  overflow-x: hidden;
}

.fa {
  margin-left: 5px;
  font-size: 22px;
}
html {
  overflow-x: initial !important;
}

body {
  background-color: #000 !important;
}

.navbar-expand-lg {
  background-color: black !important;
}

.nav-item .nav-link {
  font-size: 18px;
  font-weight: 400;
  color: #ffff !important;
}

.nav-link {
  position: relative;
}

.nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 2px;
  top: 35px;
  bottom: 0;
  left: 8px;
  background-color: #8d8d8d;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.nav-item .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-nav {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.d-flex .signIn-button {
  margin-right: 30px;
  background-color: black !important;
  color: white;
  border: none !important;
}

.d-flex .btn {
  border: none !important;
  background-color: #ffff;
  padding: 10px 24px;
  color: black;
  border-radius: 5px;
}

.d-flex .btn:hover {
  background-color: #cfcfcf;
  color: #000;
}

.background-color {
  background-color: #000;
  margin-top: -0.6px;
}

.heading {
  font-size: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-family: "Outfit";
}

.gradeint-text {
  background-image: -webkit-gradient linear, left top, right top, from(#dec880),
    color-stop(27%, #fff), color-stop(57%, #ff3980), to(#827ded);
  background-image: linear-gradient(
    90deg,
    #dec880,
    #fff 27%,
    #ff3980 57%,
    #827ded
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-text {
  width: 68%;
  color: #9f9f9f;
  font-size: 18px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
  letter-spacing: 0.8px;
  font-family: "Open Sans";
  font-weight: 400;
}

.button-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.buyButton {
  border: none !important;
  background-color: #ffff;
  padding: 10px 24px;
  color: black;
  border-radius: 6px;
}

.buyButton:hover {
  background-color: #cfcfcf;
  color: #000;
}

.learnMore {
  margin-left: 20px;
  padding: 12px 40px;
  background-color: #000;
  font-size: 16px;
  color: #fff !important;
  border: 2px solid transparent;
  border-image-slice: 1;
  border-image-source: -webkit-gradient linear, left top, right top,
    from(#dec880), color-stop(19%, #fff), color-stop(51%, #ff347d), to(#827ded);
  border-image-source: linear-gradient(
    90deg,
    #dec880,
    #fff 19%,
    #ff347d 51%,
    #827ded
  );
}

.img-flex {
  margin-bottom: 80px;
  margin-top: 100px;
  display: flex;
}

.img-left-1 {
  position: absolute;
  left: 40px;
  top: 70%;
  right: auto;
  bottom: auto;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 53px 0 rgb(0 0 0 / 65%);
}

.img-right-1 {
  width: 100%;
}
.img-right-2 {
  position: absolute;
  left: auto;
  top: auto;
  right: 40px;
  bottom: -95%;
  width: 506px;
  border-radius: 10px;
  box-shadow: 0 0 53px 0 rgb(0 0 0 / 65%);
}

.logo-text {
  margin-top: 1.5rem;
  font-family: "Open Sans", sans-serif;
  color: #9f9f9f;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  margin-top: 1.5rem !important;
  text-align: center;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1193px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1200px !important;
    padding: 0px 30px 0px 30px !important;
  }
}

@media only screen and (max-width: 1433px) {
  .img-right-1 {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .img-right-2 {
    right: 40px;
    bottom: -72%;
  }

  .img-left-1 {
    left: 28px;
    top: 57%;
    width: 260px;
  }
}
@media only screen and (max-width: 1398px) {
  .img-right-1 {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1294px) {
  .img-left-1 {
    left: 0;
  }
}

@media only screen and (max-width: 1196px) {
  .img-right-2 {
    bottom: -52%;
    width: 490px;
  }

  .img-left-1 {
    left: 28px;
    top: 62%;
    width: 260px;
  }
}
@media only screen and (max-width: 1174px) {
  .img-right-1 {
    width: 87%;
  }
}
@media only screen and (max-width: 1065px) {
  .img-right-2 {
    right: 10px;
  }

  .img-left-1 {
    left: 0px;
    width: 247px;
  }
}
@media only screen and (max-width: 1105px) {
  .heading {
    font-size: 60px;
  }
}
@media only screen and (max-width: 990px) {
  .img-right-2 {
    bottom: -44%;
    width: 321px;
  }
  li.nav-item {
    text-align: center !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .nav-item .nav-link::after {
    width: 91%;

    top: 35px;
    bottom: -1px;
    left: 2px;
  }

  .signIn-button {
    display: none;
  }

  .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .logoWrapper {
    flex-wrap: wrap;
  }

  .img-left-1 {
    left: 36px;
    width: 149px;
  }

  .logoFlex {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 957px) {
  .img-right-2 {
    bottom: -33%;
  }

  .img-left-1 {
    left: 45px;
  }
}

@media only screen and (max-width: 779px) {
  .img-right-2 {
    bottom: -14%;
    width: 200px;
  }

  .img-left-1 {
    left: 45px;
    top: 51%;
  }

  .heading {
    font-size: 44px;
  }

  .heading-text {
    width: 100%;
  }
}
@media only screen and (max-width: 664px) {
  .img-right-2 {
    bottom: -14%;
    width: 200px;
  }
  .img-right-1 {
    width: 97%;
  }

  .img-left-1 {
    left: 8px;
    top: 54%;
    width: 130px;
  }

  .heading {
    font-size: 37px;
  }

  .heading-text {
    font-size: 99%;
  }
}
@media only screen and (max-width: 652px) {
  .img-right-2 {
    bottom: -8%;
  }
}
@media only screen and (max-width: 580px) {
  .img-right-2 {
    bottom: -8%;
  }

  .img-right-1 {
    width: 100%;
  }

  .heading {
    font-size: 32px;
  }
}
@media only screen and (max-width: 561px) {
  .img-right-2 {
    bottom: 0;
    width: 180px;
  }
}
@media only screen and (max-width: 505px) {
  .heading {
    font-size: 27px;
  }
}
@media only screen and (max-width: 441px) {
  .heading {
    font-size: 24px;
  }
}
@media only screen and (max-width: 463px) {
  .heading {
    font-size: 24px;
  }
  .img-right-2 {
    bottom: 60px;
    width: 160px;
  }

  .button-flex {
    flex-direction: column;
  }

  .learnMore {
    margin-left: 0px;
    margin-top: 20px;
  }

  .img-left-1 {
    left: 8px;
    top: 54%;
    width: 115px;
  }
}
@media only screen and (max-width: 398px) {
  .heading {
    font-size: 21px;
  }
  .img-right-2 {
    bottom: 100px;
    width: 160px;
  }

  .img-left-1 {
    left: 8px;
    top: 60%;
    width: 100px;
  }
}

.simpleText {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.simplePara {
  width: 65%;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  color: #9f9f9f;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40px;
}

@media only screen and (max-width: 911px) {
  .simpleText {
    font-size: 40px;
  }

  .simplePara {
    width: 80%;
  }
}
@media only screen and (max-width: 715px) {
  .simpleText {
    font-size: 32px;
  }

  .simplePara {
    width: 100%;
  }
}
@media only screen and (max-width: 438px) {
  .simpleText {
    font-size: 26px;
  }

  .simplePara {
    font-size: 18px;
  }

  .aboutpara {
    text-align: center !important;
  }
  .box-1 {
    padding: 40px 50px 30px !important;
  }
  .box-2 {
    padding: 40px 50px 30px !important;
  }

  .copyright {
    font-size: 18px !important;
  }

  .submit {
    margin-top: 20px;
  }

  .email {
    margin-top: 10px;
  }

  .boxwrapper {
    padding: 40px 50px 30px !important;
  }
  .boxwrapper-2 {
    padding: 40px 50px 30px !important;
  }

  .buyButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.aboutHeading {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 45px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  margin-top: 100px;
  text-align: start;
}

.aboutpara {
  width: 98%;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  color: #9f9f9f;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-align: start;
}

.tickwrapper {
  display: flex;
  margin-top: 50px;
}
.tickimg {
  width: 30px;
  margin-bottom: 10px;
}

.tickSide-1 {
  flex: 1;
}
.side-2 {
  flex: 9;
}

.text-1 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-align: start;
}

.text-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-align: start;
}

.text-3 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-align: start;
}

.plates {
  margin-top: 100px;
}

.col-lg-3 {
  flex: 0 0 auto;
  width: 50% !important;
}

@media only screen and (max-width: 991px) {
  .column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .plates {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: inherit;
  }
}
.margin-bottom {
  margin-bottom: 100p;
}

@media only screen and (max-width: 985px) {
  .aboutHeading {
    font-size: 35px;
  }

  .column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .navbar-toggler-icon {
    background-image: url(/img/menu.svg) !important;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 547px) {
  .tickimg {
    margin-bottom: 50px;
  }

  .text-1 {
    margin-bottom: 29px;
  }

  .text-2 {
    margin-bottom: 52px;
  }
}
@media only screen and (max-width: 522px) {
  .text-1 {
    margin-bottom: 32px !important;
  }
}
@media only screen and (max-width: 431px) {
  .side-2 {
    flex: 6;
  }

  .text-2 {
    font-size: 16px;
  }
}

.background {
  background-color: rgb(23, 23, 26);
  padding: 20px;
}

.platesq {
  max-width: 100% !important;
}

@media only screen and (max-width: 991px) {
  .platesq {
    margin-top: 0px !important;
  }
}

.features {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  text-align: start;
}

.feature-text {
  width: 60%;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-align: start;
}

.feature-img {
  max-width: 100%;
  border-radius: 20px;
}
.background-black {
  position: relative;
}

.feature-img-1 {
  width: 86%;
  position: relative;
  z-index: 1;
  top: 10px;
}
.feature-img-2 {
  width: 76%;
  position: absolute;
  right: 66px;
  top: 22px;
  border-radius: 20px;
  object-fit: fit-content;
}

@media only screen and (max-width: 488px) {
  .aboutHeading {
    font-size: 25px;
    text-align: center;
  }
}

@media only screen and (max-width: 991px) {
  .feature-img-1 {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .feature-img-2 {
    width: 35%;
    right: 32%;
    top: 3%;
  }
}

@media only screen and (max-width: 644px) {
  .feature-img-2 {
    width: 35%;
    right: 32.3%;
    top: 4%;
  }
}
@media only screen and (max-width: 633px) {
  .features {
    width: 100% !important;
    font-size: 38px;
  }

  .feature-text {
    width: 70%;
  }
}
@media only screen and (max-width: 433px) {
  .features {
    font-size: 25px;
  }

  .feature-text {
    width: 100%;
    font-size: 16px;
  }
}
@media only screen and (max-width: 390px) {
  .features {
    font-size: 22px;
  }
}
@media only screen and (max-width: 442px) {
  .feature-img-2 {
    top: 5%;
  }
}

.payment {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.pay {
  color: #fff;
  background-color: #000;
  padding: 12px 40px;
  border: 2px solid transparent;
  border-image-slice: 1;
  border-image-source: -webkit-gradient linear, left top, right top,
    color-stop(76%, #2f2f2f), to(rgba(47, 47, 47, 0));
  border-image-source: linear-gradient(90deg, #2f2f2f 76%, rgba(47, 47, 47, 0));
}

.col {
  margin-right: 0px;
  text-align: center;
  flex: 0 0 auto;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto !important;
  text-align: center;
}

@media only screen and (max-width: 635px) {
  .payment {
    font-size: 35px !important;
  }
}
@media only screen and (max-width: 487px) {
  .payment {
    font-size: 28px !important;
  }
}

.color {
  background-color: #171717;
  padding: 20px;
  border-radius: 20px;
}

.price-text {
  color: #fff;
  font-size: 52px;
  font-family: "Outfit";
  text-align: center;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dollar {
  color: #fff;
  font-size: 52px;
  margin-bottom: 113px;
  margin-right: 10px;
}

.gradeint-text-2 {
  background-image: -webkit-gradient linear, left top, right top, from(#dec880),
    color-stop(27%, #fff), color-stop(57%, #ff3980), to(#827ded);
  background-image: linear-gradient(
    90deg,
    #dec880,
    #fff 27%,
    #ff3980 57%,
    #827ded
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Outfit";
  font-size: 220px;
  font-weight: 600;
}

.month {
  color: #fff;
  margin-top: 112px;
  font-size: 52px;
  font-family: "Outfit";
  margin-left: 10px;
}

.price-para {
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  color: #9f9f9f;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  margin-top: -48px;
  text-align: center;
}

.startTrail {
  padding: 10px 120px 10px 120px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.account {
  padding: 10px 55px 10px 55px;
  color: #fff;
  border-radius: 5px;
  background-color: #171717;
  font-size: 16px;
  color: #fff !important;
  border: 2px solid transparent;
  border-image-slice: 1;
  border-image-source: -webkit-gradient linear, left top, right top,
    from(#dec880), color-stop(19%, #fff), color-stop(51%, #ff347d), to(#827ded);
  border-image-source: linear-gradient(
    90deg,
    #dec880,
    #fff 19%,
    #ff347d 51%,
    #827ded
  );
  font-weight: 600;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
}

.product-text {
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  color: #9f9f9f;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-align: start;
  font-weight: 600;
}

.wrapper-1 {
  display: flex;
  gap: 10px;
}

.hello {
  width: 8%;
  height: fit-content;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrappertxt {
  margin-top: 8px;
  color: #fff;
  font-size: 18px;
}

.wrapper-2 {
  display: flex;
  gap: 23px;
}
.mR {
  margin-right: -14px;
}

@media only screen and (max-width: 992px) {
  .startTrail {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .account {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px !important;
  }

  .hello {
    width: 5%;
    margin-left: 15px;
  }
}
@media only screen and (max-width: 633px) {
  .hello {
    margin-left: 10px;
    margin-top: 8px;
  }
}
@media only screen and (max-width: 633px) {
  .hello {
    width: 7%;
    margin-left: 10px;
    margin-top: 8px;
  }
}
@media only screen and (max-width: 531px) {
  .startTrail {
    width: 90%;
  }

  .account {
    width: 90%;
  }
}

@media only screen and (max-width: 433px) {
  .wrappertxt {
    margin-top: 9px;
    font-size: 14px;
  }
  .product {
    font-size: 32px;
  }

  .product-text {
    font-size: 14px;
  }
  .gradeint-text-2 {
    font-size: 190px;
  }

  .price-para {
    margin-top: -33px;
  }

  .startTrail {
    padding: 8px 60px 8px 61px !important;
  }
}

@media only screen and (max-width: 491px) {
  .startTrail {
    width: 100%;
  }

  .account {
    width: 100%;
  }
}
@media only screen and (max-width: 444px) {
  .startTrail {
    font-size: 14px;
  }

  .account {
    font-size: 14px;
  }
}

.box-1 {
  background-color: #171717;
  color: #fff;
  padding: 90px 50px 30px;
  border-bottom: 1px solid #2f2f2f;
  border-right: 1px solid #2f2f2f;
  border-top-left-radius: 10px;
}

.help-end {
  all: revert;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
}
.text-en {
  all: revert;
  margin: 0px !important;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  color: #9f9f9f;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.8px;
}

.box-2 {
  background-color: #171717;
  color: #fff;
  padding: 90px 50px 30px;
  border-right: 1px solid #2f2f2f;
  border-bottom-left-radius: 10px;
}

.email {
  color: #fff;
  background-color: #000;
  padding: 8px 12px;
  border: 2px solid transparent;
  border-image-slice: 1;
  border-image-source: -webkit-gradient linear, left top, right top,
    color-stop(76%, #2f2f2f), to(rgba(47, 47, 47, 0));
  border-image-source: linear-gradient(90deg, #2f2f2f 76%, rgba(47, 47, 47, 0));
  background-color: transparent;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 18px;
  margin-bottom: 8px;
}

.submit {
  margin-left: -20px;
  padding: 12px 40px;
  background-color: #171717;
  font-size: 16px;
  color: #fff !important;
  border: 2px solid transparent;
  border-image-slice: 1;
  border-image-source: -webkit-gradient linear, left top, right top,
    from(#dec880), color-stop(19%, #fff), color-stop(51%, #ff347d), to(#827ded);
  border-image-source: linear-gradient(
    90deg,
    #dec880,
    #fff 19%,
    #ff347d 51%,
    #827ded
  );
}

.boxwrapper {
  background-color: #171717;
  color: #fff;
  padding: 90px 50px 30px;
  border-bottom: 1px solid #2f2f2f;
  border-top-right-radius: 10px;
}

.boxContact {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 500;
  font-size: 52px;
}

.company {
  all: revert;
  margin: 0px !important;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  color: #9f9f9f;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.8px;
}

.boxwrapper-2 {
  background-color: #171717;
  color: #fff;
  padding: 90px 50px 30px;
  border-bottom-right-radius: 10px;
}

.security {
  all: revert;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 500;
}

.security-text {
  all: revert;
  margin: 0px !important;
  margin-bottom: 27px !important;
  font-family: "Open Sans", sans-serif;
  color: #9f9f9f;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.8px;
}

.call {
  margin-left: -24px;
}

@media only screen and (max-width: 990px) {
  .call {
    margin-left: 0px;
    margin-top: 160px !important;
  }

  .col-lg-6.mt-5.mb-5.cala {
    margin-bottom: -48px !important;
  }
  .box-2 {
    border-bottom-left-radius: 1px !important;
  }

  .boxwrapper {
    border-top-right-radius: 1px;
  }
  .w-100 > input {
    width: 450px;
  }

  .box-2 {
    border-bottom: 1px solid #2f2f2f;
  }
}
@media only screen and (max-width: 708px) {
  .w-100 > input {
    width: 370px;
  }
}
@media only screen and (max-width: 644px) {
  .w-100 > input {
    width: 317px;
  }
}
@media only screen and (max-width: 696px) {
  .w-100 > input {
    width: 100%;
  }

  .email {
    border-image-slice: 0;
    border-image-source: none;
    border: 2px solid #2f2f2f;
  }
  .submit {
    margin-left: 0px;
    width: 100%;
  }
  .security-text {
    word-break: break-all;
  }
}

@media only screen and (max-width: 448px) {
  .help-end {
    font-size: 33px;
  }
}

.team {
  width: 100%;
  color: #fff;
  font-size: 52px;
  font-weight: 600;
  font-family: "Outfit";
}

.team-text {
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

@media only screen and (max-width: 990px) {
  .team-text {
    width: 80%;
  }

  .team {
    font-size: 40px;
  }
}
@media only screen and (max-width: 456px) {
  .team {
    font-size: 30px !important;
  }
}

.footer-logo {
  width: 300px;
  text-align: start !important;
  display: block;
  margin-right: auto;
  margin-bottom: -28px;
}

.gmail {
  all: revert;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px !important;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  text-align: end;
  margin-top: 24px;
}

.line {
  border-bottom: 1px solid #2f2f2f;
  padding: 0px;
}

.copyright {
  all: revert;
  margin-top: -40px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  text-align: start;
}

@media only screen and (max-width: 882px) {
  .gmail {
    margin-top: 15px;
  }
}
/* @media only screen and (max-width: 756px) {
  .footer-logo {
    width: 70%;
  }
}
@media only screen and (max-width: 630px) {
  .footer-logo {
    width: 85%;
  }
} */

@media only screen and (max-width: 754px) {
  .margin-top {
    margin-top: 0px;
  }

  .gmail {
    margin-top: 0px;
    text-align: start;
    margin-left: 10px;
  }

  .footer-logo {
    /* width: 50%; */
    margin-bottom: -101px;
  }
}

/* @media only screen and (max-width: 630px) {
  .footer-logo {
    width: 70%;
  }
}*/
@media only screen and (max-width: 400px) {
  .month {
    font-size: 40px;
  }
  .dollar {
    font-size: 45px;
  }
}
@media only screen and (max-width: 400px) {
  .team-text {
    width: 100%;
    font-size: 15px;
  }
  .team {
    font-size: 26px !important;
  }

  .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .gmail {
    margin-left: 0px;
    text-align: center;
  }
  .copyright {
    text-align: center;
  }
}
@media only screen and (max-width: 539px) {
  p.text-1.margin-bottom {
    margin-bottom: 56px !important;
  }
}
